<div class="vertical-carousel">
  <div *ngFor="let reel of reels; let i = index" [class.active]="i === activeIndex" class="reel" [id]="'reel_' + i">
    <h2>{{ reel.title }}</h2>
    <img [src]="reel.urlToImage" alt="{{ reel.title }}">
    <h4>{{ reel.description }}</h4>
    <div>{{ reel.source_name }}</div>
    <div>{{ reel.likes }} likes</div>
    
    <!-- <a [href]="reel.url" target="_blank">Read more</a> -->
    <img src="" height="100" alt="" id="likeGifHolder" style="opacity:0">
  </div>

  
</div>