@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

.vertical-carousel {
  display: flex;
  flex-direction: column;
  touch-action: manipulation;
  justify-content: center;
  position: relative;
}

.reel {
  padding-top: 20px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  text-align: center;
  background-color:blanchedalmond;
  height: 84vh; 
}

.reel h2, h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}

.reel img {
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  position: relative;
  border: 5px solid black;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.image-container .overlay {
  position:absolute;
  top: 45%;
  left: 85%;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.overlay img {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.overlay div {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  color: red;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

