.vertical-carousel {
  display: flex;
  flex-direction: column;
  /* touch-action: manipulation; */

  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(300px);
}

/* .vertical-carousel > reel {
  flex: 0 0 100vh;
  width: 100%;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
  touch-action: manipulation; Disable default zooming on double tap 
} */

.reel {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  text-align: center;
  background-color:blanchedalmond;
  height: 94vh; /* Make :the carousel container full height of the viewport */
  border: 1px solid red;
  scroll-snap-align: start;
  flex-shrink:0.5; /* Allow contents to shrink */
}

.reel img {
  max-width: 100%;
  max-height: 100%;
}
