@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.vertical-carousel {
  display: flex;
  flex-direction: column;
  touch-action: manipulation;
  justify-content: center;
}

.reel {
  padding-top: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  text-align: center;
  background-color:blanchedalmond;
  height: 94vh; 
  border: 1px solid red;
}

.reel h2, h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}

.reel img {
  max-width: 100%;
  max-height: 80%;
}
